# ErrorDocument 404 http://localhost/JUICE/projects/JATE/page404.html
# ErrorDocument 500 http://localhost/JUICE/projects/JATE/page500.html
#
# RewriteEngine On
#
# RewriteBase /
# RewriteCond %{REQUEST_URI} ^/404/$
# RewriteRule ^(.*)$ /pages/errors/404.php [L]
# RewriteCond %{REQUEST_URI} ^/500/$
# RewriteRule ^(.*)$ /pages/errors/500.php [L]
#
# RewriteRule ^([^\/]*)\.html$ /JUICE/projects/JATE/index.php?page=$1 [L]
#
# <FilesMatch "\.(jpg|png|css|js|sbg)$">
# Header set Cache-Control "public, max-age=36288000"
# </FilesMatch>
